.Root {
  border-radius: 4px;
  position: relative;

  &Is {
    &Opened {
      &.RootAlignLeft {
        .Dropdown {
          left: auto;
          right: 0;
        }
      }

      .Button {
        background: var(--background-dark);
      }

      .Dropdown {
        left: calc(50% - 160px);
        opacity: 1;
        transform: scale(1);
        transition: all .2s, left .0s;
        visibility: visible;
      }
    }
  }
}

.Dropdown {
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: var(--shadow-down-z4);
  left: 9999px;
  opacity: 0;
  position: absolute;
  transform: scale(.9);
  top: calc(100% + 12px);
  visibility: hidden;
  width: 320px;
}

.Dot {
  background: var(--color-danger);
  border-radius: 100%;
  height: 8px;
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  z-index: 2;
}

.List {
  border-bottom: 1px solid var(--background-dark);
  border-top: 1px solid var(--background-dark);
  margin: 16px 0;

  & > * {
    &:not(:last-child) {
      border-bottom-color: var(--background-dark);
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }
}

.Tooltip {
  position: relative;
  z-index: 2;
}
