.Root {
  align-items: center;
  color: inherit;
  display: flex;
  height: 56px;
  padding: 0 16px;
  text-decoration: none;

  &:hover {
    background: var(--background-light);
  }
}

.Description {
  color: var(--color-gray);
}

.Icon {
  font-size: 24px;
}

.Info {
  margin: 0 0 0 16px;
}

.Logo {
  align-items: center;
  display: flex;
  flex: 0 0 40px;
  height: 40px;
  justify-content: center;
  width: 40px;
}
