.Root {
  display: flex;
  flex: 0 0 260px;
  flex-direction: column;
  height: 100%;
  width: 260px;
}

.Container {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.Logo {
  background: url('assets/logo.svg') no-repeat center center;
  background-size: contain;
  height: 120px;
  width: 120px;
}

.Social {
  margin: 12px 0 0;
}

.Title {
  margin: 20px 0 0;
}

.Version {
  align-items: center;
  display: flex;
  flex: 0 0 46px;
  padding: 0 16px;
}
