.Actions {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0;
}

.Extra {
  background: var(--background-lighter);
  border-bottom: 1px solid var(--background-dark);
  border-top: 1px solid var(--background-dark);
  margin: 20px -24px 0;
  padding: 20px 24px;
}

.Form {
  margin: 20px 0 0;
}

.Name {
  color: var(--color-gray);
  margin: 0 0 0 8px;
}

.Right {
  display: flex;

  & > *:not(:first-child) {
    margin: 0 0 0 8px;
  }
}

.Title {
  display: flex;
}
