.Root {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > * {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
}

.Actions {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
}

.Container {
  flex: 1 1 auto;
  margin: 20px 0 0;
  max-height: calc(100% - 104px);
}

.Description {
  color: var(--color-gray-600);
  margin: 8px 0 0;
}

.Wrapper {
  display: flex;
  flex-direction: column;
}
