.Root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Actions {
  margin: 20px 0 0;
}

.Create {
  width: 100%;
}

.List {
  flex: 1 1 auto;
  margin: -12px;
  max-height: 100%;
  overflow-x: visible;
  overflow-y: scroll;
  padding: 32px 12px 12px;

  & > *:not(:first-child) {
    margin: 12px 0 0;
  }
}
