.Root {
  margin: 0 0 0 24px !important;
}

.Avatar {
  background: var(--gradient-green);
  border-radius: 100%;
  flex: 0 0 40px;
  height: 40px;
  margin: 0 0 0 16px;
  width: 40px;
}

.Import {
  border: 0;
  border-radius: none;
  box-shadow: none;
  height: 48px;
  width: 100%;

  &:hover {
    background: var(--background-light);
    box-shadow: none;
  }
}

.Info {
  align-items: center;
  display: flex;
}

.Name {
  white-space: nowrap;
}
