.Root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100%;

  &Is {
    &Opened {
      .Container {
        visibility: visible;
      }

      .Icon {
        transform: rotate(180deg);
      }
    }
  }
}

.Actions {
  flex: 0 0 36px;
  margin: 20px 24px 24px;
}

.Container {
  border-top: 1px solid var(--color-blue-gray-700);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-height: calc(100% - 72px);
  visibility: hidden;
}

.List {
  flex: 1 1 auto;
  max-height: calc(100% - 84px);
  overflow-y: scroll;
  overflow-x: hidden;
}
