.Root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 24px;
  max-width: 100%;

  &Is {
    &Authorized {
      .List {
        margin-bottom: -2px;
        padding-bottom: 2px;
      }
    }
  }
}

.Actions {
  margin: 20px 0 0;
}

.List {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: -24px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 24px;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, .6);
    }
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .2);
    border-radius: 4px 0 0 4px;
    transition: all .2s;
  }

  & > * {
    flex: 0 0 64px;

    &:not(:first-child) {
      margin: 16px 0 0;
    }
  }
}
