.Root {
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  display: flex;
  height: 72px;
  padding: 0 24px;
  position: relative;
  text-decoration: none;
  width: 100%;

  &:hover {
    background: var(--color-blue-gray-800);
    cursor: pointer;
  }

  &Color {
    &Blue {
      .Logo {
        background: var(--gradient-blue);
      }
    }

    &BluePurple {
      .Logo {
        background: var(--gradient-blue-purple);
      }
    }

    &Green {
      .Logo {
        background: var(--gradient-green);
      }
    }

    &Purple {
      .Logo {
        background: var(--gradient-purple);
      }
    }

    &Red {
      .Logo {
        background: var(--gradient-red);
      }
    }
  }

  &Is {
    &Opened {
      background: var(--color-blue-gray-800);

      .Icon {
        opacity: 1;
        transform: rotate(180deg);
      }
    }

    &Trigger {
      .Info {
        max-width: calc(100% - 96px);
      }

      &:hover {
        .Icon {
          opacity: 1;
        }
      }
    }
  }
}

.Content {
  align-items: center;
  display: flex;
  width: 100%;
}

.Divider {
  background: var(--color-blue-gray-700);
  bottom: 0;
  height: 1px;
  position: absolute;
  right: 0;
  width: calc(100% - 80px);
}

.Icon {
  color: var(--color-white);
  font-size: 24px;
  height: 24px;
  margin: 0 0 0 16px;
  opacity: .4;
  width: 24px;
}

.Info {
  flex: 1 1 auto;
  margin: 0 0 0 16px;
  max-width: calc(100% - 56px);
}

.Label {
  color: var(--color-gray);
  text-transform: none;
}

.Logo {
  align-items: center;
  border-radius: 4px;
  color: var(--color-white);
  display: flex;
  flex: 0 0 40px;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.Name {
  color: var(--color-white);
  text-transform: none;
}

.Progress {
  margin: 4px 0 0;

  &Bar {
    height: 4px !important;
  }
}
