.Root {
  align-items: center;
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: var(--shadow-down-z1);
  color: inherit;
  display: flex;
  height: 64px;
  padding: 0 16px;
  text-decoration: none;

  &:hover:not(.RootIsCurrent) {
    box-shadow: var(--shadow-down-z3);
    cursor: pointer;
  }

  &Is {
    &Current {
      box-shadow: 0 0 0 2px var(--color-alert);
    }

    &Distributed {
      .Info {
        max-width: calc(100% - 40px);
      }
    }
  }
}

.Hash {
  color: var(--color-gray);
}

.Distributed {
  flex: 0 0 24px;
  height: 24px;
  margin: 0 0 0 16px;
  position: relative;
  width: 24px;

  &Icon {
    color: var(--color-success);
    font-size: 24px;
  }
}

.Info {
  flex: 1 1 auto;
  max-width: 100%;
}
