.Root {
  align-items: center;
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: var(--shadow-down-z1);
  color: inherit;
  display: flex;
  height: 64px;
  padding: 0 16px;
  text-decoration: none;

  &:hover:not(.RootIsCurrent) {
    box-shadow: var(--shadow-down-z3);
    cursor: pointer;
  }

  &Is {
    &Current {
      box-shadow: 0 0 0 2px var(--color-alert);
    }

    &Distributed {
      .Info {
        max-width: calc(100% - 40px);
      }
    }

    &NotSync {
      pointer-events: none;

      .Hash {
        background: var(--background-dark);
        border-radius: 4px;
        height: 16px;
        margin: 4px 0 0;
        min-width: 120px;
      }

      .Name {
        background: var(--color-gray-500);
        border-radius: 4px;
        height: 24px;
        min-width: 80px;
      }
    }
  }
}

.Distributed {
  flex: 0 0 24px;
  height: 24px;
  margin: 0 0 0 16px;
  position: relative;
  width: 24px;

  &Icon {
    color: var(--color-success);
    font-size: 24px;
  }
}

.Hash {
  color: var(--color-gray);
}

.Info {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}
