.Root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 24px;
  width: 100vw;
}

.About {
  flex: 0 0 256px;
  margin: 40px 0 0;
  width: 360px;

  &Title {
    padding: 0 16px;
  }
}

.Company {
  align-items: center;
  display: flex;
  height: 88px;
}

.Container {
  display: flex;
  flex: 1 1 calc(100% - 88px);
  flex-direction: column;
}

.List {
  display: flex;
  flex-direction: column;
  margin: 16px 0 0;
}

.Logo {
  background: transparent url('assets/logo.svg') no-repeat center center;
  background-size: contain;
  height: 56px;
  width: 56px;
}

.Progress {
  display: flex;
  flex: 1 1 calc(100% - 256px);
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  width: 480px;

  &Bar {
    background: var(--background-dark);
    border-radius: 4px;
    height: 8px;
    margin: 16px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    &:before {
      animation: progress 1.8s linear infinite;
      background: var(--color-primary);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 0%;
    }
  }

  &Description {
    color: var(--color-gray);
    margin: 12px 0 0;
  }

  &Title {
    width: 100%;
  }
}

.SubTitle {
  border-left: 2px solid var(--color-danger);
  color: var(--color-gray);
  margin: 0 0 0 8px;
  padding: 0 0 0 8px;
}

.Title {
  display: flex;
  margin: 0 0 0 16px;
}


@keyframes progress {
  0% {
    left: 0%;
    width: 0%;
  }
  25% {
    left: 0%;
    width: 25%;
  }
  50% {
    left: 30%;
    width: 60%;
  }
  75% {
    left: 75%;
    width: 35%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
