:root {
  // Base color
  --color-alert: #ffbb38;
  --color-black: #000000;
  --color-danger: #f03d3d;
  --color-primary: #0c66ff;
  --color-success: #0bb07b;
  --color-white: #ffffff;

  // Blue
  --color-blue: #0c66ff;
  --color-blue-100: #f5faff;
  --color-blue-200: #ebf5ff;
  --color-blue-300: #cce6ff;
  --color-blue-400: #99ccff;
  --color-blue-500: #5aacff;
  --color-blue-600: #007fff;
  --color-blue-700: #0c66ff;
  --color-blue-800: #0d55cf;
  --color-blue-900: #0a44a5;

  // Blue Gray
  --color-blue-gray: #0a1f44;
  --color-blue-gray-100: #758195;
  --color-blue-gray-200: #6c798f;
  --color-blue-gray-300: #5d6c84;
  --color-blue-gray-400: #53627c;
  --color-blue-gray-500: #445571;
  --color-blue-gray-600: #364866;
  --color-blue-gray-700: #273a5b;
  --color-blue-gray-800: #182c4f;
  --color-blue-gray-900: #0a1f44;

  // Gray
  --color-gray: #8a94a6;
  --color-gray-100: #fcfcfd;
  --color-gray-200: #f8f9fb;
  --color-gray-300: #f1f2f4;
  --color-gray-400: #e1e4e8;
  --color-gray-500: #c9ced6;
  --color-gray-600: #b5bbc6;
  --color-gray-700: #a6aebc;
  --color-gray-800: #98a1b1;
  --color-gray-900: #8a94a6;

  // Green
  --color-green: #0bb07b;
  --color-green-100: #eafcf7;
  --color-green-200: #cff8eb;
  --color-green-300: #92eccf;
  --color-green-400: #6ddfba;
  --color-green-500: #3ed3a3;
  --color-green-600: #22c993;
  --color-green-700: #0bb07b;
  --color-green-800: #00865a;
  --color-green-900: #006242;

  // Orange
  --color-orange: #ffbb38;
  --color-orange-100: #fffcf5;
  --color-orange-200: #fff6e4;
  --color-orange-300: #ffecc7;
  --color-orange-400: #ffdc99;
  --color-orange-500: #ffca65;
  --color-orange-600: #ffbb38;
  --color-orange-700: #ffad0d;
  --color-orange-800: #ff8f00;
  --color-orange-900: #f07300;

  // Red
  --color-red: #f03d3d;
  --color-red-100: #fff8f8;
  --color-red-200: #ffeaea;
  --color-red-300: #ffc2c2;
  --color-red-400: #ff8d8d;
  --color-red-500: #ff5d5d;
  --color-red-600: #f03d3d;
  --color-red-700: #dd2727;
  --color-red-800: #bd0303;
  --color-red-900: #a50000;
}
