:root {
  --gradient-blue: linear-gradient(to bottom, #1285ff, #20d1ff);
  --gradient-blue-purple: linear-gradient(106deg, #916bff, #3366ff);
  --gradient-green: linear-gradient(106deg, #57d968, #00d590);
  --gradient-orange: linear-gradient(106deg, #ff8f00, #ffbb38);
  --gradient-purple: linear-gradient(106deg, #d438ff, #8c58ff);
  --gradient-red: linear-gradient(106deg, #ff5980, #ffa882);
}
