.Root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  &Color {
    &Primary {
      .Circle {
        stroke: var(--color-primary);
      }

      .Line {
        background: var(--color-primary);
      }
    }

    &Success {
      .Circle {
        stroke: var(--color-success);
      }

      .Line {
        background: var(--color-success);
      }
    }
  }

  &Variant {
    &Linear {
      .Progress {
        border-radius: 4px;
        height: 6px;
        overflow: hidden;
        width: 100%;
      }

      &.RootColorPrimary {
        .Progress {
          background: var(--color-blue-300);
        }
      }

      &.RootColorSuccess {
        .Progress {
          background: var(--color-green-300);
        }
      }
    }

    &Indeterminate {
      .Circle {
        animation: progressCircularDash 1.6s ease-in-out infinite;
      }

      &.RootVariantCircle {
        .Progress {
          animation: progressCircularRotate 1.6s linear infinite;
        }
      }

      &.RootVariantLinear {
        .Line {
          animation: progressLinear 1.6s linear infinite;
        }
      }
    }
  }
}

.Line {
  height: 100%;
  position: absolute;
}

.Progress {
  position: relative;
}

@keyframes progressCircularDash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -120px;
  }
}

@keyframes progressCircularRotate {
  100% { transform: rotate(360deg) }
}


@keyframes progressLinear {
  0% {
    left: 0%;
    width: 0%;
  }
  25% {
    left: 0%;
    width: 25%;
  }
  50% {
    left: 30%;
    width: 60%;
  }
  75% {
    left: 75%;
    width: 35%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
