.Root {
  align-items: center;
  border-radius: 0;
  border-bottom-color: var(--background-dark);
  box-shadow: none;
  color: inherit;
  display: flex;
  height: 88px;
  padding: 0 16px;
  text-decoration: none;
  width: 100%;

  &:hover {
    background: var(--background-light);
    box-shadow: none;
    cursor: pointer;
  }
}

.Address {
  text-transform: none;
}

.Avatar {
  background: var(--gradient-purple);
  border-radius: 100%;
  flex: 0 0 40px;
  height: 40px;
  width: 40px;
}

.Address,
.Balance {
  color: var(--color-gray);
}

.Content {
  display: flex;
  width: 100%;
}

.Dropdown {
  left: calc(50% - 300px);
}

.Info {
  flex: 1 1 auto;
  margin: 0 0 0 16px;
  max-width: calc(100% - 56px);
}

.Logo {
  flex: 0 0 40px;
  height: 40px;
  width: 40px;
}
