.Root {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.Backdrop {
  background: rgba(0, 0, 0, .5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}

.Container {
  animation: modalInit 0.2s ease-in-out;
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: var(--shadow-down-z5);
  max-width: 960px;
  padding: 24px;
  position: relative;
  z-index: 2;
  width: 100%;
}

.Title {
  margin: 0 0 20px;
}

@keyframes modalInit {
  from {
    opacity: 0;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
