.Root {
  align-items: flex-start;
}

.Container {
  display: flex;
  flex-direction: column;
  margin: 40px;
  max-height: calc(100vh - 80px);
  overflow: hidden;
}

.Form {
  flex: 0 0 64px;
  height: 64px;
  padding: 0 24px;
}

.List {
  border-top: 1px solid var(--background-dark);
  flex: 1 1 calc(100% - 64px);
  padding: 0 0 8px 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
