.Root {
  align-items: flex-start;
}

.Container {
  display: flex;
  flex-direction: column;
  margin: 40px;
  max-height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: scroll;

  &:hover {
    &::-webkit-scrollbar {
      background: var(--background-dark);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-gray-600);
    }
  }

  &::-webkit-scrollbar {
    background: transparent;
    border-radius: 0 4px 4px 0;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
  }
}

.Form {
  flex: 0 0 68px;
  height: 68px;
}

.Result {
  border-top: 1px solid var(--background-dark);
  margin: 20px -24px 0;
}
