.Root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.Actions {
  display: flex;
  flex: 0 0 36px;
  margin: 0 16px 24px;
  justify-content: space-between;
}

.Favorite {
  &:hover {
    background: var(--background-dark);

    .FavoriteIcon {
      color: var(--color-alert);
    }
  }

  &Icon {
    color: var(--color-gray);
  }
}

.Reset {
  background: var(--color-white);
}

.Left,
.Right {
  display: flex;

  & > *:not(:first-child) {
    margin: 0 0 0 8px;
  }
}

.Run {
  background: var(--color-success);
  color: var(--color-white);
}

.Save {
  &:hover {
    background: var(--background-dark);

    .SaveIcon {
      color: var(--color-primary);
    }
  }

  &Icon {
    color: var(--color-gray);
  }
}
