.Root {
  &:not(:first-child) {
    margin: 20px 0 0;
  }
}

.Error {
  color: var(--color-danger);
}

.Header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 8px;
}

.Label {
  display: block;
  color: var(--color-gray);

  &:hover {
    cursor: pointer;
  }
}
