.Actions {
  display: flex;
  margin: 20px 0 0;

  & > * {
    flex: 0 0 50%;
    max-width: calc(50% - 4px);

    &:not(:first-child) {
      margin: 0 0 0 8px;
    }
  }
}

.Amount {
  align-items: center;
  border-top: 1px solid var(--background-dark);
  display: flex;
  justify-content: space-between;
  margin: 20px -16px 0;
  padding: 20px 16px 0;

  &Label {
    color: var(--color-gray);
  }
}

.Icon {
  align-items: center;
  border-radius: 100%;
  display: flex;
  flex: 0 0 24px;
  font-size: 12px;
  height: 24px;
  justify-content: center;
  margin: 0 12px 0 0;
  width: 24px;
}

.Info {
  color: var(--color-primary);
  margin: 8px 0 0;

  &Icon {
    background: var(--color-blue-200);
  }
}

.Private {
  color: var(--color-gray);
  margin: 16px 0 0;

  &Icon {
    background: var(--background-dark);
  }
}

.Info,
.Private {
  align-items: center;
  display: flex;
}

