.Root {
  align-items: center;
  background: transparent;
  border-radius: 4px;
  display: flex;
  margin: 0 -8px;
  padding: 0 8px;
  transition: all .2s;
  text-decoration: none;

  &:hover {
    background: var(--background-dark);
  }
}

.Tag {
  color: var(--color-gray-900);
  text-decoration: underline;
}
